html {

    font-family: Arial;
    font-size: 40px;

}
.crossletter.solutionletter {
    border-color: red;
}
.crossrow {

    display: flex;
    width: 100%;
    margin: 0;

}
.crossletter {

    border: 5px solid;
    display: inline-block;
    float: left;
    width: 50px;
    text-align: center;

}
.crossword {

    margin-bottom: 50px;

}
.crossrow:hover .crossletter {

    border-color: green;
    cursor: pointer;

}
.crossrow.crossrow-2 {

    margin-left: 420px;

}
.crossrow-3,.crossrow-1,.crossrow-5,.crossrow-9,.crossrow-16 {

    margin-left: 540px;

}
.crossrow-6,.crossrow-13 {

    margin-left: 300px;

}
.crossrow.crossrow-7 {

    margin-left: 420px;

}
.crossrow-8,.crossrow-14 {

    margin-left: 480px;

}
.crossrow-10,.crossrow-15 {

    margin-left: 120px;

}
.crossrow.crossrow-11 {

    margin-left: 360px;

}
.crossrow.crossrow-12 {

    margin-left: 240px;

}
