html {

    font-family: Arial;
    font-size: 40px;
    text-align: center;

}
.crossletter.solutionletter {
    border-color: red;
}
.crossrow {

    display: flex;
    width: 100%;
    margin: 0;

}
.crossletter {

    border: 5px solid black;
    display: inline-block;
    float: left;
    width: 50px;
    color: white;

}
.crossword {

    margin-bottom: 50px;

}
.crossrow:hover .crossletter {

    border-color: green;
    cursor: pointer;

}
.crossrow.crossrow-2 {

    margin-left: 420px;

}
.crossrow-3,.crossrow-1,.crossrow-5,.crossrow-9,.crossrow-16 {

    margin-left: 540px;

}
.crossrow-6,.crossrow-13 {

    margin-left: 300px;

}
.crossrow.crossrow-7 {

    margin-left: 420px;

}
.crossrow-8,.crossrow-14 {

    margin-left: 480px;

}
.crossrow-10 {

    margin-left: 120px;

}
.crossrow-15{
    margin-left: 180px;
}
.crossrow.crossrow-11 {

    margin-left: 360px;

}
.crossrow.crossrow-12 {

    margin-left: 240px;

}
.rules {

    border: 3px solid;
    border-radius: 50px;
    margin-bottom: 50px;

}
h1 {

    color: pink;

}
.question {

    display: block;
    font-weight: bold;

}
.question-box {

    border: 3px solid;
    border-radius: 50px;
    padding: 20px;

}
.answer {

    width: 80%;
    height: 43px;
    border-bottom: 2px solid;
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 40px;
    text-align: center;

}
.crossboard::selection {
    background: white;
}
.crossboard::-moz-selection {
    background: white;
}
.crossletter span {

    opacity: 0;

}